/**-----------------------------------HOME------------------------------------*/

.body-home{
    background-image: url(images/guts-fond.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#titre-home a:hover{
    color: black;
    transition: 0.5s;
}

header a:hover {
	color: white;
	background-color: rgba(105, 105, 105, 0.402);
	transition: 0.5s;
}

h1{
    font-family: 'Luckiest Guy', cursive;
}

header{
    display: flex;
    justify-content: space-between;
}

header h1{
    font-size: 2em;
}

header li{
    font-size: 1.3em;
}

header a{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
}

nav{
    display: flex;
	align-items: center;
}

.menu-header li{
    display: inline-block;
}

.main-home{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-home{
    text-align: center;
}

.sec-home p, a{
    color: aliceblue;
}

.sec-home a{
    text-decoration: none;
    font-size: 5em;
}

/*--------------------------------A propos----------------------------------*/
.body{
    background: rgb(0,0,0);
    background: linear-gradient(20deg, #99D4C0, #DBD46A);
    background-attachment: fixed;
    min-height: 100vh;
}

#portrait{
    width: 450px;
    margin: 2%;
}

#a-propos{
    display: flex;
    justify-content: center;
}

#a-propos img, .bio{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.bio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 35%;
    background-color: rgba(255, 255, 255, 0.603);
    margin: 5% 0;
    padding: 0 10px;
    border-radius: 10px;
}

/*-------------------------------Discographie-------------------------------*/

.intro-disco{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-disco p{
    text-align: center;
    color: #fff;
    margin: 0 10%;
    background-color: #33333360;
    border-radius: 10px;
}


#discographie{
    text-align: center;
    font-size: 3em;
}

#body-disco{
    background-image: url(images/guts-fond-bleu.avif);
    background-size: cover;
    background-attachment: fixed;
}

.box{
    margin: 3vw;
}
.sec-discographie{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sec-discographie img{
    width: 300px;
    object-fit: cover;
}
/*-----Pop-up-----*/
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: linear-gradient(20deg, #99D4C0, #DBD46A);
    border-radius: 5px;
    width: 40%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}
/*--------fin du pop-up--------*/

.image{
    transition: transform .1s;
}

.image:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/*----------------------media------------------------*/

/*-----------gallery photo-------------*/
#gallery {
    display: grid;
    place-items: center;
    min-height: 80vh;
}

#gallery ul {
    display: flex;
    width: calc(80% - 2rem);
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#gallery li {
    padding: 0;
}

#gallery img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.2s ease;
}

#gallery ul:is(:hover, :focus-within) img {
    filter: grayscale(calc(1 - var(--active-lerp, 0)));
}

:root {
    --lerp-0: 1;
    --lerp-1: 0.5787037;
    --lerp-2: 0.2962963;
    --lerp-3: 0.125;
    --lerp-4: 0.037037;
    --lerp-5: 0.0046296;
    --lerp-6: 0;
}

#gallery a {
    outline-offset: 4px;
}

#gallery li {
    flex: calc(0.1 + (var(--active-lerp, 0) * 1));
    transition: flex 0.2s ease;
}

#gallery li:is(:hover, :focus-within) {
    --active-lerp: var(--lerp-0);
    z-index: 7;
}

#gallery li:has(+ li:is(:hover, :focus-within)),
li:is(:hover, :focus-within)+li {
    --active-lerp: var(--lerp-1);
    z-index: 6;
}

#gallery li:has(+ li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within)+li+li {
    --active-lerp: var(--lerp-2);
    z-index: 5;
}

#gallery li:has(+ li + li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within)+li+li+li {
    --active-lerp: var(--lerp-3);
    z-index: 4;
}

#gallery li:has(+ li + li + li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within)+li+li+li+li {
    --active-lerp: var(--lerp-4);
    z-index: 3;
}

#gallery li:has(+ li + li + li + li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within)+li+li+li+li+li {
    --active-lerp: var(--lerp-5);
    z-index: 2;
}

#gallery li:has(+ li + li + li + li + li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within)+li+li+li+li+li+li {
    --active-lerp: var(--lerp-6);
    z-index: 1;
}

/*-------------------fin de la galerie photo-----------------*/

/*---------------------galerie video-------------------------*/
#video{
    margin: 2% 0;
    display: flex;
    justify-content: center;
}
.video {
    position: relative;
    padding-top: 4.1%;
    padding-bottom: 51.95%;
    height: 0;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-height: 0;
}

.video-gallery {
    margin-top: 3em;
    position: relative;
    width: 100%;
}

.video-gallery .video {
    animation: 1200ms fadeOut ease;
    animation-fill-mode: both;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 7;
    max-height: 19.5em;
    opacity: 0;
    transition: all 300ms ease;
}

.video-gallery input[type=radio] {
    font-size: 0;
    height: 0;
    opacity: 0;
    padding: 0;
    position: fixed;
    width: 0;
}

.video-gallery input {
    grid-column-start: 1;
    grid-row-start: 1;
}

.video-gallery label {
    color: #ce8b0f;
    font-size: 1.25em;
    font-weight: 400;
    grid-column-start: 2;
    margin: 0 !important;
    padding: 1rem 0 1rem 3rem;
    position: relative;
    border-bottom: 1px solid #CCCCCC;
}

.video-gallery label:last-of-type {
    border: 0 none;
}

.video-gallery input[type=radio]:checked+label {
    color: #1fbde4 !important;
}

.video-gallery input[type=radio]:checked+label:before {
    content: "▶";
    left: 0;
    top: 12px;
    position: absolute;
}

.grid-row {
    display: block;
    height: 56vw;
    max-height: 19.5em;
    position: relative;
}

.grid-row label {
    left: calc(50% + 16px);
    position: relative;
    width: calc(50% - 16px);
}

.grid-row .video {
    padding: 0;
    position: absolute;
    top: 0;
    width: 0;
}

.grid-row:after {
    content: "";
    clear: both;
    display: table;
}

#video-1:checked~.video-1,
#video-2:checked~.video-2,
#video-3:checked~.video-3,
#video-4:checked~.video-4,
#video-5:checked~.video-5,
#video-6:checked~.video-6 {
    animation: 1200ms fadeIn ease;
    animation-fill-mode: both;
    opacity: 1;
    width: 50%;
}

@keyframes fadeOut {
    0% {
        display: block;
        height: 56vw;
        opacity: 1;
        width: 50%;
    }

    25% {
        display: block;
        height: 56vw;
        opacity: 1;
        width: 50%;
    }

    49% {
        display: block;
        height: 56vw;
        opacity: 0;
        width: 50%;
    }

    50% {
        display: none;
        height: 0;
        opacity: 0;
        width: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        width: 0;
    }

    49% {
        display: none;
        height: 0;
        opacity: 0;
        width: 0;
    }

    50% {
        display: block;
        height: 56vw;
        opacity: 0;
        width: 50%;
    }

    100% {
        display: block;
        height: 56vw;
        opacity: 1;
        width: 50%;
    }
}

@supports (display: grid) {
    .grid-row {
        align-items: start;
        display: grid;
        grid-column-gap: 16px;
        grid-row-gap: 0;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        width: 60%;
    }

    .grid-row label {
        left: auto;
        width: 100%;
    }

    .grid-row .video {
        position: relative;
        width: 100%;
    }

    @keyframes fadeOut {
        0% {
            display: block;
            height: 56vw;
            opacity: 1;
            width: 100%;
        }

        25% {
            display: block;
            height: 56vw;
            opacity: 1;
            width: 100%;
        }

        49% {
            display: block;
            height: 56vw;
            opacity: 0;
            width: 100%;
        }

        50% {
            display: none;
            height: 0;
            opacity: 0;
            width: 0;
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
            width: 0;
        }

        49% {
            display: none;
            height: 0;
            opacity: 0;
            width: 0;
        }

        50% {
            display: block;
            height: 56vw;
            opacity: 0;
            width: 100%;
        }

        100% {
            display: block;
            height: 56vw;
            opacity: 1;
            width: 100%;
        }
    }
}

@media (max-width: 767px) {
    .video-gallery {
        display: flex;
        flex-direction: column;
        height: auto;
        max-height: none;
    }

    .video-gallery label {
        left: auto;
        order: 2;
        width: 100%;
    }

    .video-gallery .video {
        order: 1;
        padding-top: 4.1%;
        padding-bottom: 51.95%;
        position: relative;
        top: auto;
        width: 100%;
    }

    #video-1:checked~.video-1,
    #video-2:checked~.video-2,
    #video-3:checked~.video-3,
    #video-4:checked~.video-4,
    #video-5:checked~.video-5,
    #video-6:checked~.video-6 {
        width: 100%;
    }

    @keyframes fadeOut {
        0% {
            display: block;
            height: 56vw;
            opacity: 1;
        }

        25% {
            display: block;
            height: 56vw;
            opacity: 1;
        }

        49% {
            display: block;
            height: 56vw;
            opacity: 0;
        }

        50% {
            display: none;
            height: 0;
            opacity: 0;
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        49% {
            display: none;
            height: 0;
            opacity: 0;
        }

        50% {
            display: block;
            height: 56vw;
            opacity: 0;
        }

        100% {
            display: block;
            height: 56vw;
            opacity: 1;
        }
    }
}
/*------------------fin de la galerie video------------------*/

/*-----------------------Actualités--------------------------*/

#main-event{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-event{
    background-image: url(images/guts-fond-disco.jpg);
    background-attachment: fixed;
}
.event{
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 40%;
    border: #535252 solid 1px;
    padding: 1% 0;
    border-radius: 10px;
    margin: 15px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.event img{
    width: 200px;
}

.event p{
    text-align: left;
}

.event a{
    color: blue;
}

.event div{
    padding: 0px 10px;
}

.affiche{
    border-right: #535252 solid 1px;
}

/*---------------------contact-----------------------*/
/*main contact*/

.contact{
    padding: 5%;
}

.contact h1, p{
    margin: 1em auto;
    text-align: center;
}

.formulaire{
    align-items: center;
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

.formulaire label{
    display: block;
    margin: 3% 0;
}

.formulaire input, select, textarea {
    border: 1px solid #0a0a23;
    color: black;
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}

.inline{
    display: inline;
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #4be2bc;
    border-color: black;
    min-width: 300px;
    max-width: 500px;
  }

/*---------------------footer------------------------*/
footer{
    display: flex;
    justify-content: center;
}

footer a{
    text-decoration: none;
}

footer li{
    display: inline-block;
    padding: 0 15px;
}
