/**-----------------------------------HOME------------------------------------*/

.body-home{
    background-image: url(images/guts-fond.jpg);
    background-size: cover;
    background-attachment: fixed;
}

header a:hover {
	color: white;
	background-color: rgba(105, 105, 105, 0.402);
	transition: 0.5s;
}

header{
    display: flex;
    justify-content: space-between;
}

header h1{
    font-size: 2em;
}

header li{
    font-size: 1.3em;
}

header a{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
}

nav{
    display: flex;
	align-items: center;
}

.menu-header li{
    display: inline-block;
}

.main-home{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-home{
    text-align: center;
}

.sec-home p, a{
    color: aliceblue;
}

.sec-home a{
    text-decoration: none;
    font-size: 5em;
}

/*--------------------------------A propos----------------------------------*/
.body{
    background: rgb(0,0,0);
    background: linear-gradient(20deg, #99D4C0, #DBD46A);
    min-height: 100vh;
}

/*-------------------------------Discographie-------------------------------*/

#discographie{
    text-align: center;
    font-size: 3em;
}

#body-disco{
    background-image: url(images/guts-fond-bleu.avif);
    background-size: cover;
    background-attachment: fixed;
}

.sec-discographie{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sec-discographie img{
    width: 300px;
    object-fit: cover;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: linear-gradient(20deg, #99D4C0, #DBD46A);
    border-radius: 5px;
    width: 35%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}