/**-----------------------------------HOME------------------------------------*/

.body-home{
    background-image: url(images/guts-fond.jpg);
    background-size: cover;
    background-attachment: fixed;
}

header a:hover {
	color: white;
	background-color: rgba(105, 105, 105, 0.402);
	transition: 0.5s;
}

header{
    display: flex;
    justify-content: space-between;
}

header h1{
    font-size: 2em;
}

header li{
    font-size: 1.3em;
}

header a{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
}

nav{
    display: flex;
	align-items: center;
}

.menu-header li{
    display: inline-block;
}

.main-home{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-home{
    text-align: center;
}

.sec-home p, a{
    color: aliceblue;
}

.sec-home a{
    text-decoration: none;
    font-size: 5em;
}

/*--------------------------------A propos----------------------------------*/
.body{
    background: rgb(0,0,0);
    background: linear-gradient(20deg, #99D4C0, #DBD46A);
    min-height: 100vh;
}

#portrait{
    width: 450px;
}

/*-------------------------------Discographie-------------------------------*/

.intro-disco{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-disco p{
    text-align: center;
    color: #fff;
    margin: 0 10%;
    background-color: #33333360;
    border-radius: 10px;
}


#discographie{
    text-align: center;
    font-size: 3em;
}

#body-disco{
    background-image: url(images/guts-fond-bleu.avif);
    background-size: cover;
    background-attachment: fixed;
}

.box{
    margin: 3vw;
}
.sec-discographie{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sec-discographie img{
    width: 300px;
    object-fit: cover;
}
/*-----Pop-up-----*/
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: linear-gradient(20deg, #99D4C0, #DBD46A);
    border-radius: 5px;
    width: 40%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}
/*--------fin du pop-up--------*/

.image{
    transition: transform .1s;
}

.image:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/*----------------------media------------------------*/

/*-----------gallery photo-------------*/
#gallery {
    display: grid;
    place-items: center;
    min-height: 80vh;
}

#gallery ul {
    display: flex;
    width: calc(80% - 2rem);
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#gallery li {
    padding: 0;
}

#gallery img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.2s ease;
}

#gallery ul:is(:hover, :focus-within) img {
    filter: grayscale(calc(1 - var(--active-lerp, 0)));
}

:root {
    --lerp-0: 1;
    --lerp-1: 0.5787037;
    --lerp-2: 0.2962963;
    --lerp-3: 0.125;
    --lerp-4: 0.037037;
    --lerp-5: 0.0046296;
    --lerp-6: 0;
}

#gallery a {
    outline-offset: 4px;
}

#gallery li {
    flex: calc(0.1 + (var(--active-lerp, 0) * 1));
    transition: flex 0.2s ease;
}

#gallery li:is(:hover, :focus-within) {
    --active-lerp: var(--lerp-0);
    z-index: 7;
}

#gallery li:has(+ li:is(:hover, :focus-within)),
li:is(:hover, :focus-within)+li {
    --active-lerp: var(--lerp-1);
    z-index: 6;
}

#gallery li:has(+ li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within)+li+li {
    --active-lerp: var(--lerp-2);
    z-index: 5;
}

#gallery li:has(+ li + li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within)+li+li+li {
    --active-lerp: var(--lerp-3);
    z-index: 4;
}

#gallery li:has(+ li + li + li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within)+li+li+li+li {
    --active-lerp: var(--lerp-4);
    z-index: 3;
}

#gallery li:has(+ li + li + li + li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within)+li+li+li+li+li {
    --active-lerp: var(--lerp-5);
    z-index: 2;
}

#gallery li:has(+ li + li + li + li + li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within)+li+li+li+li+li+li {
    --active-lerp: var(--lerp-6);
    z-index: 1;
}

/*-------------------fin de la galerie photo-----------------*/


/*---------------------footer------------------------*/
footer{
    display: flex;
    justify-content: center;
}

footer a{
    text-decoration: none;
}

footer li{
    display: inline-block;
    padding: 0 15px;
}
